/*
#title {
	background-color: #42F4A4;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	box-shadow: 0px 1px;
}
*/

/*body {
	background: linear-gradient(#D8D8D8, #E0E0E0, #F0F0F0);
}
*/

body {
	background-image: url('bodyback.jpg');

	z-index: 0;
}

/*css for main content */
#maincontent {
	background-image: url('contentback2.jpg');
	width: 68%;
	margin: 0 auto;
	z-index: 1;
}

/*css for title and authors*/
#title {
	background-color: rgba(0,0,0,0.80);
	color: white;
	padding:1px;
}

#truetitle {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-size: 28px;
	top: 0;
	padding-left: 8px;
}

#subtitle {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	margin-top: -40px;
	padding-right: 8px;

}

/*css for dropdown menu*/
#firstprompt {
	text-align: center;
	padding: 8px;
    background-color: rgba(241,241,241,0.8);
    border-radius: 16px;
    border-color: rgba(0,0,0,0.2);
    border-width: 1px;
    border-style: solid;
    width: 50%;
    margin: 8px auto;
}

#prompt {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	padding: 8px;
}

#dropdown {
	font-size: 18px;
}

/*css for seed input field */
#seed {
	padding: 8px;
    background-color: rgba(241,241,241,0.8);
    border-radius: 16px;
    border-color: rgba(0,0,0,0.2);
    border-width: 1px;
    border-style: solid;
    width: 50%;
    margin: 8px auto;
}

#seedgetter {
	text-align: center;
	margin-top: 8px;
}

#seedprompt {
	margin-bottom: 8px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
}


input[type=text] {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('rightarrowicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    padding: 12px 20px 12px 40px;
    border-radius: 8px;
    margin-bottom: 4px;
}

/*css for text submit BUTTONS*/
#subbuttons {
	text-align: center;
}


#submitbutton {
    background-color: #008CBA;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 8px;
}

#submitbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#randomsubmitbutton {
	background-color: #F44336;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 8px;
}

#randomsubmitbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/*style for where text is generated */
#gentext {
	text-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
}

#generatedtext {
	text-align: center;
	font-size: 18px;
}

/*css for export option*/
#exportsong {
	text-align: center;
	padding: 8px;
    background-color: rgba(241,241,241,0.8);
    border-radius: 16px;
    border-color: rgba(0,0,0,0.2);
    border-width: 1px;
    border-style: solid;
    width: 50%;
    margin: 8px auto;
}

#exportprompt {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
}

#exportbtn {
	background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 8px;
}

#exportbtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
