<html>

<style>




</style>

<body onload="loadTextArea()">

  <script>

    function handleDropdown() {
      var e = document.getElementById("dropDown");
      var chosenOption = e.options[e.selectedIndex]
      console.log("This is the selected genre: ", e.options[e.selectedIndex].innerText)

    }

    function handleSubmitButton() {
      var textArea = document.getElementById("generatedText");
      textArea.value = null

    }

    function loadTextArea() {

      if ({{submitted}}){

        var textArea = document.getElementById("generatedText");
        textArea.disabled = false;


      } else {
        var textArea = document.getElementById("generatedText");
        textArea.disabled = true

      }

    }

</script>


  <div id="title">
     <h4>Song Lyrics Generator</h4>
     <h4>Deep and Tugsuu</h4>
  </div>
  <form action="http://127.0.0.1:5000/" method="post">
    <div>
      Choose your genre
    </div>
    <select id="dropDown" name="selectedOption" onChange="handleDropdown()" required>
      <option value="country">Country</option>
      <option value="rap">Rap</option>
      <option value="other">Other</option>
    </select>
    <br />
    Seed Text:<br>
    <input type="text" name="seedtext" value="">
    <br>
    <input type="submit" value="Submit" onclick="handleSubmitButton()">
  </form>
  <textarea id="generatedText" rows="20" cols="100">{{generated_lyrics}}</textarea>



</body>

</html>
